
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    max-width: 95%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
}

.container .logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #b0b0b0fa;
    margin: auto;
}


.title {
    margin: 18px 0px 18px 0px;
}

.title h1 {
    font-size: 26px;
    margin-bottom: 4px;
}

.title p {
    color: #a3a1a1;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-input .input {
    padding: 8px 8px;
    border-radius: 6px;
    border: 1px solid #827c7c;
    font-size: 14px;
}

.form-input label {
    font-size: 14px;
}

.form-ingat {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 14px 0px;
}

.form-ingat a {
    color: #000;
    text-decoration: none;
}

.btn-submit {
    padding: 10px 0px;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
}
